/*
COLORS:
#F44336 - primary red
#D32F2F - dark primary red
#FFC107 - accent yellow
#212121 - primary text (almost black)
#757575 - secondary text (gray)
#BDBDBD - divider color (light gray)
#FFFFFF - text/icons (white)

FONTS:
font-family: 'Hind', sans-serif; - thick
font-family: 'Josefin Sans', sans-serif; - thin
*/

body, html {
	font-family: 'Josefin Sans', sans-serif;
}
.container {
	width: 100%;
}
/*nav bar*/
nav {
	background-color: #F44336;
}
/*app name*/
#movie-search-container h1 {
	/*font-size: 230px;*/
	color: #212121;
	letter-spacing: 1px;
	margin-top: 30px;
	text-align: center;
}
/*input color*/
.input-field label {
	font-family: 'Hind', sans-serif;
	letter-spacing: 1px;
	color: #212121;
}
/*input focus color*/
.input-field input[type=text]:focus + label {
	font-family: 'Hind', sans-serif;
    color: #757575;
}
/*search form line*/
input[type=text] {
	font-family: 'Hind', sans-serif;
	border-bottom: 3px solid #212121;
}
/*search form line focus*/
input[type=text]:focus:not([readonly]) {
	font-family: 'Hind', sans-serif;
	color: #757575;
	border-bottom: 3px solid #757575;
	box-shadow: none;
}
/*search form after clicking submit*/
input[type=text].valid {
	font-family: 'Hind', sans-serif;
	color: #757575;
	border-bottom: 3px solid #757575;
	box-shadow: none;
}
/*search button*/
.btn {
	font-family: 'Hind', sans-serif;
	background-color: #F44336;
}
.btn:hover, .btn:focus {
	font-family: 'Hind', sans-serif;
    background-color: #D32F2F;
}
/*results row*/
#results-row {
	color: #212121;
}
