/*
COLORS:
#FFFFFF - white
#C7C7C7 - light gray
#FEDA6A - yellow
#4669D5 - blue
#263B7C - dark blue click
#353535 - dark grey

FONTS:
font-family: 'Rubik Mono One', sans-serif; - big blocky
font-family: 'Mandali', sans-serif; - thin rounded edges
font-family: 'Shanti', sans-serif; - thin clean lines(like it)
font-family: 'Assistant', sans-serif; - even thinner and cleaner, but not the "g" I like
font-family: 'Pavanam', sans-serif; - WINNER - clean and thin, good "g"
font-family: 'Chonburi', cursive; - 50s fat font with thin partials
font-family: 'Bowlby One', cursive; - fat and cartoonish
*/

body, html {
	font-family: 'Pavanam', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
}
#movie-search-container{
    display:table;/* shrinks to fit content */
    margin:auto;
}
/*when user types in the move to search search*/
input {
	color: #353535;
	font-size: 24px;
}
input[type=text].valid {
	border-bottom: 1px solid #4669D5;
    box-shadow: 0 1px 0 0 #4669D5;
}
.btn, .btn-large {
	background-color: #4669D5;
}
.btn:hover, .btn-large:hover {
    background-color: #263B7C;
}
.input-field input[type=text]:focus {
	color: #4669D5;
  	border-bottom: 1px solid #000;
  	box-shadow: 0 1px 0 0 #000;
}
.validate {
	color: #263B7C;
}
