/*
COLORS:
#F44336 - primary red
#D32F2F - dark primary red
#FFC107 - accent yellow
#212121 - primary text (almost black)
#757575 - secondary text (gray)
#BDBDBD - divider color (light gray)
#FFFFFF - text/icons (white)

FONTS:
font-family: 'Hind', sans-serif; - thick
font-family: 'Josefin Sans', sans-serif; - thin
*/

.container {
	max-width: 2560px;
}
body, html {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}
/*sticky footer*/
.page-flexbox-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	width: 100%;
}
main {
	flex: 1 0 auto;
}
p {
	margin: 10px;
}
a {
	color: #FFF;
}
h1 {
	color: #FFF;
	margin-top: 0px;
	font-weight: 600;
}
h2 {
	font-weight: 600;
}
img {
	border: 0px;
	box-shadow: none;
}
/*nav bar*/
nav {
	background-color: #F44336;
}
/*nav bar app name*/
nav .brand-logo {
    position: absolute;
    color: #FFF;
    display: inline-block;
    font-size: 2.1rem;
    padding-left: 20px;
    white-space: nowrap;
}

/*modal*/
#loginInputs {
	padding: 50px;
}

/*slider images at top*/
.slider .indicators .indicator-item.active {
	background-color: #F44336;
}
#slider-text {
	background-color:rgba(255, 255, 255, 0.6);
	font-weight: 600;
	color: #212121;
	padding: 10px 10px 0px 10px;
	margin: 0px;
}
#slider-text-small {
	background-color:rgba(0, 0, 0, 0.6);
	font-weight: 600;
	color: #FFF;
	padding: 5px 10px 0px 10px;
}

/*movie search row*/
#movie-search-row {
	background-color: #FFC107;
	padding: 60px;
	margin-bottom: 0px;
}
#movie-search-row h2 {
	color: #FFF;
}
.form-wrapper .field-list .field .field-element{
    font-size: 18px;
 }
/*input text color*/
.input-field label {
	letter-spacing: 1px;
	color: #FFF;
	font-weight: bolder;
	font-size: 24px;
}
/*input text focus color*/
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
    color: #FFF;
}
/*search form line*/
input[type=text], input[type=email], input[type=password] {
	border-bottom: 4px solid #FFF;
}
/*search form line focus*/
input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
	color: #FFF;
	border-bottom: 4px solid #FFF;
	box-shadow: none;
	font-size: 30px;
}
/*search form after clicking submit*/
input[type=text].valid, input[type=email].valid, input[type=password].valid {
	color: #FFF;
	border-bottom: 4px solid #FFF;
	box-shadow: none;
}
input[type=text].valid {
	font-size: 30px;
}
/*search button*/
.btn {
	background-color: #F44336;
}
.btn:hover, .btn:focus {
    background-color: #D32F2F;
}

/*results row including data from API*/
h1 {
	font-weight: 600;
}
h4 {
	font-weight: 600;
}
#results-row {
	background-color: #FFFFFF;
	color: #212121;
	font-weight: 600;
	padding: 50px;
	margin-bottom: 0px;
}
#results-row h1 {
	color: #212121;
}
#save-share-btn {
	margin: 20px;
}

#save-icon {
	padding-right: 10px;
}
#twitter-icon {
	padding-right: 10px;
}

/*saved component*/
#saved-row {
	background-color: #FFC107;
	color: #FFFFFF;
	padding: 50px;
	font-size: 32px;
	margin-top: 0px;
}
#saved-row li {
	font-size: 32px;
}
/*delete button*/
#delete-btn {
	margin: 15px;
}
.btn-floating {
	background-color: #F44336;
}
.btn-floating:hover, .btn-floating:focus {
    background-color: #D32F2F;
}

/*footer*/
footer.page-footer {
    background-color: #F44336;
}
/*icons in footer from font-awesome*/
.fa {
  color: #FFFFFF;
}
#footer-name {
	padding-left: 15px;
}
#footer-icons {
	padding-right: 15px;
}
